*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.caja{
    background-color: aqua;
    width: 200px;
    height: 200px;
    margin: 10px;
}
@media(min-width:600px){
    .caja{
        background-color: blueviolet;
        width: 400px;
    }
}