*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*media queries principal*/
@media(max-width:768px){
    .navBar .itemBarra{
        justify-content:space-around;
        width: 45%;
        z-index: 1;
        
    }
    .navBar li a{
     color:rgb(251, 251, 251);
     font-size: 16px;
    }
    .containerServ{
        margin-top: 100px ;
    }
  }
  @media(max-width:576px){
    .navBar{
     height: 200px;
    }
    .navBar .itemBarra {
        
        width: 90%;
        z-index: 1;
    }
    .redes{
       top: 40px;
    }
    
    .logo{
        margin-top: 40px;
       
    }
    .containerServ{
        margin-top: 100px ;
    }
  }
  /*media queries contacto*/
  @media(max-width:576px){
    .BodyContacto{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:100px auto ;
        grid-template-areas:
         "navbar navbar "
         "main main  "
        " aside aside  "
        "footer footer  ";
    }
    .formulario .containerContacto{ 
        width: 50%;
        padding: 50px;
         margin-top: 150px;
         margin-left: 100px;
        align-items: center;
        justify-content: center;
        
    }
   .seccion  {
     width: 0%;

   }
   .contacto{
    
   }
   
  
  
   

  

    }

/*principal*/
body{
    background-image:url(../imagenes/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.bodyPrincipal{
 display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:100px auto auto;
    grid-template-areas: "navbar    navbar navbar"
                          "main   main    main "
                          "footer  footer footer";

}



.logo img{
    margin-top: 5px;
    margin-left: 10px;
}
.navBar{
    grid-area: navbar;
   
    background-color: rgba(15, 77, 135,.5);
    display: flex;
    justify-content: space-between;
    
    
}
.navBar .itemBarra{
    flex-wrap: wrap;
    list-style:none;
    display: flex;
    align-items: center;
}
.nav,li{
    padding: 10px;
}
.navBar .itemBarra,li,a{
text-decoration: none;
color: white;
font-size: 17px;
}

li a{
    font-family:Ultra;
}
.redes img{
    flex-wrap: wrap;
    width: 40px;
    margin-top: 25px;
    margin-right:10px;
}
.mainPrincipal{
    grid-area:main;
}
.container{
   
    top: 10px;
    width: 1200px;
    padding: 30px;
 }
 ul,.slide {
    padding: 0;
    margin: 0;
    list-style: none;
    
}
ul.slider{
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0;
  
  }
  ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    
    transition: opacity .5s;
   
}

ul.slider .slide .imgSlide{
  width: 100%;
  height: 600px;
  object-fit: cover;
}


ul.slider .slide:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider .slide:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}
.menuSlide{
    text-align: center;
    margin: 20px;

   
  }
  
  .menuSlide .menu {
    margin-bottom: 100px;
    z-index: 1;
    display: inline-block;
    text-align: center;
  }
  
  .menuSlide .menu a{
    display: inline-block;
    color: white;
    z-index: 99;
    top:50px;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    border-radius: 100%;
}
/*servTecnico*/
.bodyServTec{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:100px auto auto auto;
    grid-template-areas: 
    "navbar  navbar navbar   navbar"
    "header header header header"
    "main   main    main  main"
     "footer  footer footer footer";
}

    

/*contacto*/
.BodyContacto{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:100px auto auto 90px;
    grid-template-areas: 
    "navbar navbar navbar  navbar"
    "main main main aside"
    "main main main aside"
    "footer footer footer footer";

}
.formulario{
    display: flex;
    grid-area: main;
    margin: 50px;
    color:azure;
   /* background-color:rgba(125, 125, 241, 0.3); */  
}
.seccion{
    grid-area: aside;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}
.contacto{
 /* background-color: rgba(125, 125, 241, 0.3);*/ 
  color: aliceblue;
  padding: 10px; 
  margin: 10px;
}
.ubicacion{
    width: 100%;
    z-index: 1;
    color: white ;
}


footer{
  grid-area: footer;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-between;
  padding: 3px;
  background-color: rgba(15, 77, 135,.5);
  color: white;
}




